<div class="container-fluid p-0">
  <!-- Banner Section -->
  <div class="banner">
    <img src="/images/banner.png" alt="Nike Banner" class="img-fluid w-100">
  </div>

  <!-- Categories Section -->
  <div class="container my-5">
    <h4 class="mb-4">Categories</h4>
    <div class="row text-center">
      <div class="col-6 col-md-3 mb-4">
        <div class="card border-0">
          <img src="/images/category/men.png" class="card-img-top" alt="Men">
          <div class="card-body p-2">
            <h6>Men</h6>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-3 mb-4">
        <div class="card border-0">
          <img src="/images/category/women.png" class="card-img-top" alt="Women">
          <div class="card-body p-2">
            <h6>Women</h6>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-3 mb-4">
        <div class="card border-0">
          <img src="/images/category/kids.png" class="card-img-top" alt="Kids">
          <div class="card-body p-2">
            <h6>Kids</h6>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-3 mb-4">
        <div class="card border-0">
          <img src="/images/category/sports.png" class="card-img-top" alt="Sports">
          <div class="card-body p-2">
            <h6>Sports</h6>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Featured Products Section -->
  <div class="container my-5">
    <h4 class="mb-4">Featured Products</h4>
    <div class="row">
      {{#each products}}
      <div class="col-6 col-md-3 mb-4" style="height: min-content;">
         <a href="/product/{{this._id}}" class="text-decoration-none text-dark">
        <div class="card h-100 shadow-sm">
              <button class="btn btn-light position-absolute top-0 end-0 m-2 wishlist-btn" 
            data-product-id="{{this._id}}">
      <i class="fa-regular fa-heart"></i>
    </button>

          <img src="{{this.images.main}}" class="card-img-top" style="height: 300px;" alt="{{this.name}}">
          <div class="card-body p-2">
            <h6 class="card-title mb-1">{{this.name}}</h6>
             <p class=" fw-bold mb-1" style="font-size: small;">Rs. {{this.offerPrice}}</p>
            <p class="mb-1 text-muted" style="font-size: small;"><s>Rs. {{this.price}}</s></p>
         <span class="badge bg-danger">-{{this.discountPercentage}}%</span>
          </div>
        </div>
        </a>
      </div>
      {{/each}}
    </div>
  </div>
  <div class="text-center mt-4">
  <a href="/products" class="btn btn-outline-danger px-4 fw-semibold">
    Explore More
  </a>
</div>

